extends ./layout/index


block slider 
    .slider    
        h1 Rio de Janeiro
        em pânârrìërs 


block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut erat nulla, iaculis vel risus eget, vulputate dictum ligula. Maecenas nec sem facilisis est varius rutrum nec non mi. Aenean congue tincidunt ligula, vel accumsan nibh euismod et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
                p Donec tempus posuere urna, sollicitudin venenatis augue feugiat vitae. Nullam et dui fermentum, egestas est vel, venenatis leo. In vel turpis vel nulla vehicula efficitur in quis quam. Cras quis dolor a felis rhoncus porttitor posuere ut lorem. Nunc in facilisis sem. Vivamus non mi quis augue condimentum faucibus at eu sem. 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        include ./layout/bloque_viajes

    .descuento
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2.022 - 28 de Marzo de 2.022
                        p.precio $2,500 USD
    
    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales