extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pellentesque fermentum suscipit. Sed non neque placerat diam mattis blandit sit amet ac augue. Donec vitae imperdiet ante, sed ultrices nibh. Praesent pulvinar nunc et sem tincidunt, finibus luctus massa finibus. 
                Praesent maximus congue eros. Curabitur non ipsum et odio venenatis consectetur. In tincidunt metus vel 
                consectetur mollis. Nulla nec mi gravida, tempus ante ut, scelerisque magna. Vestibulum sed massa nisl. 
                Praesent nisi nulla, commodo maximus dolor eu, convallis suscipit dui. Curabitur in turpis a ex auctor efficitur. 

                p In eu augue sem. Nam fermentum, magna ac tristique ultricies, purus eros tincidunt nisl, nec volutpat nunc lorem 
                vel sem. Praesent sodales lorem nec purus egestas, at gravida velit consequat. Ut lorem leo, egestas vel massa finibus,
                suscipit commodo erat. Ut consequat mattis auctor. Integer feugiat massa ac mi lobortis vehicula. 
                Phasellus id accumsan libero. Praesent enim nisl, sollicitudin vitae scelerisque rhoncus, tincidunt in tortor.

                p Etiam volutpat in nisi ut tincidunt. Morbi nulla mauris, hendrerit vitae turpis non, pellentesque auctor elit. 
                Integer eleifend augue sapien, sit amet rhoncus eros mattis eu. Vestibulum vestibulum tortor justo, nec viverra tellus
                vestibulum vel. Fusce id turpis velit. Duis convallis viverra consequat. Vestibulum ante ipsum primis in faucibus 
                orci luctus et ultrices posuere cubilia curae;

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row    
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Etiam volutpat in nisi ut tincidunt. Morbi nulla mauris, hendrerit vitae turpis non, pellentesque auctor elit. 
                    Integer eleifend augue sapien, sit amet rhoncus eros mattis eu. 

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Etiam volutpat in nisi ut tincidunt. Morbi nulla mauris, hendrerit vitae turpis non, pellentesque auctor elit. 
                    Integer eleifend augue sapien, sit amet rhoncus eros mattis eu. 

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Etiam volutpat in nisi ut tincidunt. Morbi nulla mauris, hendrerit vitae turpis non, pellentesque auctor elit. 
                    Integer eleifend augue sapien, sit amet rhoncus eros mattis eu. 